<section class="feature-area bg-color1 p-b-100" id="feature">
    <div class="themeix-ani">
        <img src="{{site.baseurl}}/assets/images/themeix-ani1.png" alt="animated shape" class="shape-one">
        <img src="{{site.baseurl}}/assets/images/themeix-ani2.png" alt="animated shape" class="shape-two">
        <img src="{{site.baseurl}}/assets/images/themeix-ani3.png" alt="animated shape" class="shape-tree">
        <img src="{{site.baseurl}}/assets/images/themeix-ani4.png" alt="animated shape" class="shape-four">
        <img src="{{site.baseurl}}/assets/images/themeix-ani5.png" alt="animated shape" class="shape-five">
        <img src="{{site.baseurl}}/assets/images/themeix-ani6.png" alt="animated shape" class="shape-six">
    </div>
    <div class="container">
        <div class="feature-wrapper">
            <div class="row">
                <div class="col-md-7">
                    <div class="section-title m-b-70" data-aos="fade-up">
                        <h2 class="big-font2 mb-2">{{ landing_data.features-section.title }}</h2>
                        <p class="ls-40">{{ landing_data.features-section.text }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        {% for feature in landing_data.features-section.list %}
                            <div class="col-md-6 d-flex">
                                <div class="feature-box flex-fill" data-aos="fade-right">
                                    <div class="feature-logo">
                                        <img src="{{site.baseurl}}/{{ feature.image[0] }}" alt="{{ feature.image[1] }}" />
                                    </div>
                                    <div class="feature-content">
                                        <h4 class="heading-4">{{ feature.title }}</h4>
                                        <p class="ls-40">{{ feature.description }}</p>
                                    </div>
                                    <div class="feature-shape"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3 offset-lg-1">
                    <div class="feature-img">
                        <img class="image-mockup br-18" src="{{site.baseurl}}{{ landing_data.features-section.image[0] }}" alt="{{ landing_data.features-section.image[1] }}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="features-cta bg-color5 text-center">
                        <h2 class="big-font3 mb-4">{{ landing_data.features-cta.title }}</h2>
                        <a href="#cta-modal" data-toggle="modal" class="btn btn-bordered border--dark rounded-pill">{{ landing_data.features-cta.btn-text }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
