<section class="share-area bg-color1 p-t-100 p-b-100" id="share">
    <div class="themeix-ani">
        <img src="{{site.baseurl}}/assets/images/themeix-ani1.png" alt="animated shape" class="shape-one">
        <img src="{{site.baseurl}}/assets/images/themeix-ani2.png" alt="animated shape" class="shape-two">
        <img src="{{site.baseurl}}/assets/images/themeix-ani3.png" alt="animated shape" class="shape-tree">
        <img src="{{site.baseurl}}/assets/images/themeix-ani4.png" alt="animated shape" class="shape-four">
        <img src="{{site.baseurl}}/assets/images/themeix-ani5.png" alt="animated shape" class="shape-five">
        <img src="{{site.baseurl}}/assets/images/themeix-ani6.png" alt="animated shape" class="shape-six">
    </div>
    <div class="container">
        <div class="share-wrapper">
            <div class="row flex-column-reverse flex-md-row">
                <div class="col-md-6 col-lg-6">
                    <div class="share-image">
                        <img class="image-mockup mw-100" src="{{ landing_data.air-section.image[0] }}" alt="{{ landing_data.air-section.image[1] }}" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                    <div class="section-title m-b-70" data-aos="fade-up">
                        <h2 class="big-font2 mb-2">{{ landing_data.air-section.title }}</h2>
                        <p class="ls-40">{{ landing_data.air-section.text }}</p>
 <a href="{{ landing_data.air-section.button-url }}" class="open-btn btn btn-primary rounded-pill">{{ landing_data.air-section.button-text | upcase }}</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
